@page
@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Esqueceu sua senha?";
}

<div class="login-box">
    <div class="login-logo">
        <p title="@ViewData[" TitleHomeLink"]">Projeto Aula C#</p>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Você esqueceu sua senha? Aqui você pode facilmente recuperar uma nova senha.</p>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success btn-block">
                            <span class="fa fa-key fa-fw" style="color:white !important"></span>
                            Solicite uma nova senha
                        </button>
                        <br />
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="row">
                <div class="col-6">
                    <p class="mb-0">
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-block btn-sm">
                            <i class="fas fa-user mr-1"></i>
                            Entrar
                        </a>
                    </p>
                </div>
                <div class="col-6">
                    <p class="mb-0">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-block btn-sm">
                            <i class="fas fa-user-plus mr-1"></i>
                            Nova conta
                        </a>
                    </p>
                </div>
            </div>

            <p class="mb-1">
                <br />
                <a class="btn btn-default btn-block btn-sm" asp-area="" asp-action="Default" asp-controller="Home">
                    Volta à <i class="fas fa-home"></i>
                </a>
            </p>
        </div>
    </div>
</div>
<!-- /.login-box -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}