@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    ViewData["Title"] = "Log in";
}

<div class="login-box">
    <div class="login-logo">
        <p title="@ViewData[" TitleHomeLink"]">Projeto Aula C#</p>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h4 class="login-box-msg">Bem vindo!</h4>
            <h5 class="text-center">Faça login para iniciar sua sessão</h5>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Password" class="form-control" placeholder="Senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe">
                                Lembrar de mim
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-success btn-block">
                            <span class="fa fa-sign-in" style="color:white !important"></span>
                            Entrar
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a asp-area="Identity" asp-page="/Account/ForgotPassword">Esqueceu sua senha?</a>
            </p>
            <div class="row">
                <div class="col-6">
                    <p class="mb-0">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-block btn-sm">
                            <i class="fas fa-user-plus mr-1"></i>
                            Nova conta
                        </a>
                    </p>
                </div>
                <div class="col-6">
                    <p class="mb-0">
                        <a class="btn btn-default btn-block btn-sm" asp-area="" asp-action="Default" asp-controller="Home">
                            Volta à <i class="fas fa-home"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}