@page
@model RegisterModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    ViewData["Title"] = "Registrar";
}
<div class="row">
    <div class="col-md-10">
        <div class="login-box">
            <div class="login-logo">
                <p title="@ViewData[" TitleHomeLink"]">Projeto Aula C#</p>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <h4 class="login-box-msg">Bem vindo!</h4>
                    <h5 class="text-center">Crie uma nova conta</h5>

                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="input-group mb-3">
                            <input asp-for="Input.Username" class="form-control" placeholder="Nome, sem espaços">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" class="form-control" placeholder="Senha" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirme a senha" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                    <label for="agreeTerms">
                                        Li e aceito os <a href="#">Termos de Uso</a>.
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-5">
                                <button type="submit" class="btn btn-success btn-block">
                                    <span class="fa fa-user-plus" style="color:white !important"></span>
                                    Registrar
                                </button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-block">
                        <i class="fas fa-user mr-1"></i>
                        Já tenho uma conta
                    </a>
                    <p class="mb-1">
                        <br />
                        <a class="btn btn-default btn-block btn-sm" asp-area="" asp-action="Default" asp-controller="Home">
                            Volta à <i class="fas fa-home"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}