@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos!</h1>
    <p>Projeto de ensino de aplicação com ASP.NET Core.</p>
    <div class="text-center">
        <img id="imgLogo" runat="server" src="~/dist/img/img_index.jpeg" style="width: 98%; height: 500px" />
    </div>
</div>